body {
    background-color: rgba(204, 231, 211, 0.2);
    font-family: sans-serif;
    color: #333;
}

.profile-card {
    width: 900px;
    margin: 40px auto;
    padding: 30px;
}

.profile-top {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.profile-content {
    flex-grow: 1;
}

.profile-name {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    color: #045323;
}

.profile-lead {
    margin-top: 20px;
    color: #26896D;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.profile-strengths {
    margin-top: 10px;
    padding-left: 0;
    font-size: 18px;
    list-style: none;
}

.profile-strengths__item {
    margin-top: 5px;
    margin-bottom: 1rem;
    padding-left: 1.5em;
    position: relative;
}

.profile-strengths__item::before {
    content: "";
    position: absolute;
    left: 0.2rem;
    top: 0.6rem;
    width: 8px;
    height: 8px;
    background: #26896D;
    transform: rotate(45deg);
}

.profile-strengths__title {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: bold;
}

.profile-strengths__text {
    display: block;
}

.clover-logo {
    width: 300px;
    flex-shrink: 0;
}

.clover-logo svg {
    width: 100%;
    height: auto;
    overflow: visible;
    transform: rotate(5deg);
}